<!--start: row-fluid -->
<div class="row-fluid">

  <!--start: Wrapper-->
  <!-- start: Flexslider -->
  <div id="homepage-slider" class="slider nogutter">
    <div id="flex1" class="flexslider home">
      <ul class="slides">

        <% @highlights.each do |post| %>
        <li>
          <%= link_to post do %>
            <%= image_tag(post.photo.file.url(:full)) %>
          <% end %>
          <div class="slide-caption n">
            <%= link_to post do %>
              <h3><%= post.title %></h3>
            <% end %>
            <p>
              <%= post.lead %>
            </p>
            <p>
              <%= render 'shared/show_photo_credit', photo: post.photo %>
            </p>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!-- end: Flexslider -->
  <!-- end: Wrapper  -->


</div>
<!--end: row-fluid -->
