<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%
    # Defaults for Facebook Open Graph metadata
    @title = @title.blank? ? '' : @title+' - '
    @title = @title + 'Kto rządzi - projekt Fundacji Media 3.0'
    @fb_description ||= "Kto jest kim wśród najważniejszych osób w państwie."
    @fb_image_url ||= "#{request.protocol}#{request.host_with_port}/images/facebook_avatar.png"
  %>
  <title><%= @title %></title>
  <meta name="description" content="<%= @fb_description %>"/>
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:site_name" content="ktorzadzi.pl"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @title %>"/>
  <meta property="og:image" content="<%= @fb_image_url %>"/>
  <meta property="og:description" content="<%= @fb_description %>"/>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%# Conditional CSRF as suggested by http://xyzpub.com/en/ruby-on-rails/3.2/http_caching.html %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>

  <!--[if lt IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE.css" %>
  <![endif]-->
  <!--[if IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE9.css" %>
  <![endif]-->
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= auto_discovery_link_tag :atom, feed_posts_path() %>
  <%= auto_discovery_link_tag :rss, feed_posts_path(format: 'rss') %>
</head>
<body>
  <%= disqus_init :reset => true %>
  <%= render 'shared/google_analytics' %>
  <%= render 'shared/header' %>

  <%#= render 'welcome/slider' if @welcome_page %>

  <div class="container <%= @welcome_page ? "welcome-page" : "" %>">
    <!-- TODO: Move these into pages -->
    <p class="alert-info"><%= notice %></p>
    <p class="alert-info"><%= alert %></p>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
